page-identification {

  // .toolbar-background,
  // .toolbar-ios-primary .toolbar-background-ios,
  // .toolbar-md-primary .toolbar-background-md {
    // background-color: transparent;
  // }

  // ion-header {
  //   z-index: 1;
  // }

  ion-content.content {
    background-color: color($colors, light);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background-color: color($colors, primary);
    }
  }

  // .illustration {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 150px;
  //   background-image: url('https://www.dropbox.com/s/jmrd1syc9x15qfr/asset.svg?raw=1');
  //   background-size: cover;
  //   background-color: color($colors, primary);
  //   z-index: -1;
  // }

  ion-card,
  .card-ios,
  .card-md {
    margin: 20px;
    width: calc(100% - 40px);
    border-radius: 4px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0, .1);
    overflow: hidden;

    card-content,
    .card-content-ios,
    .card-content-md {
      padding-right: 0;
      padding-left: 0;

      ion-segment {
        //
      }
    }

    ion-note {
      margin: 20px 0 20px;
    }
  }

  button[ion-fab] {
    margin: 40px auto;
    box-shadow: 0 4px 30px 0 rgba(color($colors, primary), .5);
  }

  ion-note {
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 13px;
    line-height: 1.1em;
    text-align: center;
  }
}
